access_parser==0.0.6
barcode_generator==0.1rc15
matplotlib==3.10.8
mplcursors==0.7.1
numpy==2.4.4
pandas==3.0.2
Pillow==12.2.0
pylibdmtx==0.1.10
PyQt6==6.11.0
pyqt6_sip==13.11.1
qrcode==8.2
reportlab==4.4.3
Requests==2.33.1
segno==1.6.6
tabulate==0.10.0
